<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>
        <button class="btn btn-info" (click)="onClick('filename')">
          Filename
        </button>
      </th>
      <th>
        <button class="btn btn-info" (click)="onClick('path')">Path</button>
      </th>
      <th>
        <button class="btn btn-info" (click)="onClick('period')">Period</button>
      </th>
      <th>
        <button class="btn btn-info" (click)="onClick('title')">Title</button>
      </th>
      <th>
        <button class="btn btn-info" (click)="onClick('date')">Date</button>
      </th>
      <th>
        <button class="btn btn-info" (click)="onClick('description')">
          Description
        </button>
      </th>
      <th>
        <button class="btn btn-info" (click)="onClick('featured')">
          Featured
        </button>
      </th>

      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr
      *ngFor="
        let gallery of galleryList$
          | async
          | globalfilter: (phrase$ | async)
          | sort: actualsortparameter:sortedMode
      "
    >
      <td>{{ gallery.id }}</td>
      <td>{{ gallery.filename }}</td>
      <td>{{ gallery.path }}</td>
      <td>{{ gallery.period }}</td>
      <td>{{ gallery.title }}</td>
      <td>{{ gallery.date }}</td>
      <td>{{ gallery.description }}</td>
      <td>{{ gallery.featured }}</td>

      <td>
        <div class="btn-group">
          <button
            [routerLink]="['/gallery/edit', gallery.id]"
            class="btn btn-info"
          >
            <i class="fa fa-edit"></i>
          </button>
        </div>
      </td>
    </tr>
  </tbody>
</table>
